# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Remove .DS_Store
.DS_Store

# Don't commit the target executables
**/target[0-9]
**/sploit[0-9]
**/extra-credit
**/run-shellcode
*.bin

*.tar.gz

# Project 1 files that we don't care about.
proj1/fuzz/install/*
proj1/fuzz/libarchive-3.1.2/*
proj1/fuzz/results/*

# Tex files.
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
